/* 
main color: #087f5b
grey color: #343a40



info: 
font-size: default = 16px = 1rem
10px : 16px = 0.625 => 62.5%
16px * 62.5% = 10px 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

/* GENERAL STYLES  */

body {
  font-family: 'Inter', sans-serif;
  /* font-size: 62.5%; */
  color: #343a40;
  border-bottom: 10px solid #087f5b;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

img {
  width: 100%;
  border-radius: 12px;
}

/* COMPONENT STYLES */

/* HEADER */
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header__text-box {
  align-self: center;
}

.header__title {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header__text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

/* FEATURES */

.features__sub-title {
  margin-bottom: 16px;
  font-size: 20px;
}
.features__text {
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL */

.testimonial-section {
  background-color: #087f5b;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}
.testimonial-box__title {
  margin-bottom: 24px;
  font-size: 24px;
  color: #fff;
}
.testimonial-box__quote {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
}

.testimonial-box__author {
  color: #c3fae8;
}

/* PRODUCT SECTION */

.product-item {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.product-item__image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-item__details {
  padding: 32px;
}

.product-item__name {
  margin-bottom: 24px;
  font-size: 20px;
}

.product-item__specs {
  list-style: none;
  margin-bottom: 48px;
}

.product-item__spec {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.product-item__specs li:last-child {
  margin-bottom: 0;
}

.product-item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

/* footer STYLES  */
footer {
  font-size: 12px;
  text-align: center;
  color: #000;
  padding-bottom: 5px;
}

/* TO DO  

1. style BTN 
2. import and style icon 
*/
